<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">arrow_upward</i>
  </a>
</div>
<footer class="page-footer blue" >
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text light">Notes I shall add</h5>
        <p class="grey-text text-lighten-4 light">As small as this work might look, I'm proud of it still. I had no prior knowledge of MongoDB and verr little experience
          with Angular 4, as usually I'm a back developer only, yet I was able to put this all together</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text light">Reach Out :)</h5>
        <ul>
          <li>
            <a class="btn-floating waves-effect waves-light blue">
              <i class="fa fa-facebook"></i>
            </a>

              <a class="btn-floating waves-effect waves-light blue">
                <i class="fa fa-linkedin"></i>
              </a>

                <a class="btn-floating waves-effect waves-light blue">
                  <i class="fa fa-github"></i>
                </a>
              </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 Copyright
      <a class="grey-text text-lighten-4 right" href="#!">Entirely Made By
        <strong>Abdeillah</strong>
      </a>
    </div>
  </div>
</footer>