<nav class="blue" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="white-text light brand-logo">
      <i class="material-icons">add_shopping_cart</i>Shop Helper</a>
    <ul class="right hide-on-med-and-down">
      <li class="">
        <a class="white-text light" href="#">Nearby Shops</a>
      </li>
      <li >
        <a class="white-text light" href="#">Preferred Shops <span class="new badge red " data-badge-caption="">{{countService.count}}</span></a>
      </li>
    </ul>
    <ul id="nav-mobile" class="side-nav">
      <li class="active" >
        <a class="black-text light" href="#">Nearby Shops</a>
      </li>
      <li>
        <a class="black-text light" href="#">Preferred Shops  <span class="new badge red" data-badge-caption="Shops" ></span> </a>
      </li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>
  </div>
</nav>